HDK6NX_XMLTask/HDK6NX_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">


    <xs:simpleType name="GarancialisTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="igen"/>
            <xs:enumeration value="nem"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TelefonTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DatumTipus">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <xs:complexType name="CimTipus">
        <xs:sequence>
            <xs:element name="cimVaros" type="xs:string"/>
            <xs:element name="cimUtca" type="xs:string"/>
            <xs:element name="cimIrsz" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TechnikusTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="szakTerulet" type="xs:string"/>
            <xs:element name="telefon" type="TelefonTipus"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="technikusID" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="AlkatreszTipus">
        <xs:sequence>
            <xs:element name="megnevezes" type="xs:string"/>
            <xs:element name="tipus" type="xs:string"/>
            <xs:element name="beszerAr" type="xs:integer"/>
            <xs:element name="raktaronDb" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="alkatreszID" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="FelhasznaltAlkatreszTipus">
        <xs:sequence>
            <xs:element name="mennyiseg" type="xs:integer"/>
            <xs:element name="egysegar" type="xs:integer"/>
            <xs:element name="felhasznalasDatum" type="DatumTipus"/>
            <xs:element name="alkatresz" type="AlkatreszTipus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SzerelesTipus">
        <xs:sequence>
            <xs:element name="munkaOra" type="xs:decimal"/>
            <xs:element name="munkaDatum" type="DatumTipus"/>
            <xs:element name="szerep" type="xs:string"/>
            <xs:element name="technikus" type="TechnikusTipus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MegrendelesTipus">
        <xs:sequence>
            <xs:element name="hibaLeiras" type="xs:string"/>
            <xs:element name="allapot" type="xs:string"/>
            <xs:element name="beerkDatum" type="DatumTipus"/>
            <xs:element name="fizetendoOsszeg" type="xs:integer"/>
            <xs:element name="szereles" type="SzerelesTipus" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="felhasznalt_alkatresz" type="FelhasznaltAlkatreszTipus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="megrendelesID" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="EszkozTipus">
        <xs:sequence>
            <xs:element name="tipus" type="xs:string"/>
            <xs:element name="marka" type="xs:string"/>
            <xs:element name="modell" type="xs:string"/>
            <xs:element name="azonosito" type="xs:string"/>
            <xs:element name="garancialis" type="GarancialisTipus"/>
            <xs:element name="megrendeles" type="MegrendelesTipus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="eszkozID" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="UgyfelTipus">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telefon" type="TelefonTipus"/>
            <xs:element name="cim" type="CimTipus"/>
            <xs:element name="eszkoz" type="EszkozTipus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="ugyfelID" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="szerviz">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ugyfel" type="UgyfelTipus" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
