HDK6NX_1008/HDK6NX_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- ===== Saját egyszerű típusok ===== -->

  <!-- Pozitív egész azonosító -->
  <xs:simpleType name="IdTipus">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>

  <!-- Óra típusa csak kétféle lehet -->
  <xs:simpleType name="OraFajtaTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eloadas"/>
      <xs:enumeration value="gyakorlat"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- HH:MM 24 órás időformátum -->
  <xs:simpleType name="IdoTipus">
    <xs:restriction base="xs:string">
      <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Magyar napnevek; engedjük a kis- és nagykezdőbetűt is -->
  <xs:simpleType name="NapTipus">
    <xs:restriction base="xs:string">
      <xs:pattern value="(h|H)étfő|(k|K)edd|(s|S)zerda|(c|C)sütörtök|(p|P)éntek|(s|S)zombat|(v|V)asárnap"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Nem üres szöveg (helyszín/oktató/szak/tárgy attribútumokhoz) -->
  <xs:simpleType name="NemUresSzoveg">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ===== Belső, attribútumos elemek ===== -->

  <xs:complexType name="TargyTipus">
    <xs:attribute name="nev" type="NemUresSzoveg" use="required"/>
  </xs:complexType>

  <xs:complexType name="NapElemTipus">
    <xs:attribute name="napn" type="NapTipus" use="required"/>
  </xs:complexType>

  <xs:complexType name="TolElemTipus">
    <xs:attribute name="tolt" type="IdoTipus" use="required"/>
  </xs:complexType>

  <xs:complexType name="IgElemTipus">
    <xs:attribute name="igt" type="IdoTipus" use="required"/>
  </xs:complexType>

  <xs:complexType name="HelyszinTipus">
    <xs:attribute name="hol" type="NemUresSzoveg" use="required"/>
  </xs:complexType>

  <xs:complexType name="OktatoTipus">
    <xs:attribute name="neve" type="NemUresSzoveg" use="required"/>
  </xs:complexType>

  <xs:complexType name="SzakTipus">
    <xs:attribute name="sznev" type="NemUresSzoveg" use="required"/>
  </xs:complexType>

  <!-- ===== Összetett elemek ===== -->

  <xs:complexType name="IdopontTipus">
    <xs:sequence>
      <xs:element name="nap" type="NapElemTipus"/>
      <xs:element name="tol" type="TolElemTipus"/>
      <xs:element name="ig"  type="IgElemTipus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OraTipus">
    <xs:sequence>
      <xs:element name="targy"    type="TargyTipus"/>
      <xs:element name="idopont"  type="IdopontTipus"/>
      <xs:element name="helyszin" type="HelyszinTipus"/>
      <xs:element name="oktato"   type="OktatoTipus"/>
      <xs:element name="szak"     type="SzakTipus"/>
    </xs:sequence>
    <xs:attribute name="id"    type="IdTipus"       use="required"/>
    <xs:attribute name="tipus" type="OraFajtaTipus" use="required"/>
  </xs:complexType>

  <!-- ===== Gyökér és kulcsok ===== -->

  <xs:element name="HDK6NX_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" type="OraTipus" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- egyediség: minden ora/@id különböző legyen -->
    <xs:key name="egyediOraId">
      <xs:selector xpath="ora"/>
      <xs:field    xpath="@id"/>
    </xs:key>
  </xs:element>

  <!-- Megjegyzés: XSD 1.0-ban nem tudjuk kikényszeríteni, hogy 'tolt' < 'igt'.
       Ezt validátorral/szabállyal külön lehet ellenőrizni. -->

</xs:schema>