HDK6NX_0924/HDK6NX_mozi.dtd

<?xml version="1.0" encoding="ITF-8"?>

<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (horror | romantikus | thriller) "horror">

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #IMPLEMENT>

<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #IMPLEMENT>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>